<p>
  <button mat-icon-button aria-label="Go home" [routerLink]="['']">
    <mat-icon>arrow_back</mat-icon>
  </button>
</p>
@if (isLoading) {
<div class="console-app__password-reset-verify-spinner">
  <mat-spinner />
</div>
} @else if (errorMessage) {
<h1 class="mat-headline-4">Failure</h1>
<div class="console-app__password-reset-content">
  <div class="console-app__password-reset-subhead">
    An error occurred: {{ errorMessage }}.<br /><br />Please double-check the
    verification code and try again.
  </div>
</div>
} @else {
<div class="console-app__password-reset-verify">
  <h1 class="mat-headline-4">{{ type }} password reset</h1>
  <password-input-form-component
    [displayOldPasswordField]="false"
    [formGroup]="passwordUpdateForm!"
    (submitResults)="save($event)"
  />
</div>
}
