<div
  class="settings-security__edit-password"
  cdkTrapFocus
  [cdkTrapFocusAutoCapture]="true"
>
  <p>
    <button
      mat-icon-button
      aria-label="Back to security settings"
      (click)="goBack()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </p>
  <h1>Update EPP password</h1>
  <p class="secondary-text">
    Passwords must be between 6 and 16 alphanumeric characters
  </p>
  <password-input-form-component
    [displayOldPasswordField]="true"
    [formGroup]="passwordUpdateForm"
    (submitResults)="save($event)"
  />
  @if(userDataService.userData()?.isAdmin) {
  <div class="settings-security__reset-password-field">
    <h2>Need to reset your EPP password?</h2>
    <button
      mat-flat-button
      color="primary"
      aria-label="Reset EPP password via email"
      (click)="requestEppPasswordReset()"
    >
      Reset EPP password via email
    </button>
  </div>
  }
</div>
